
services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80" 
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./studentportfolio:/usr/share/nginx/html:ro
    depends_on:
      - backend
      - studentportfolio

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/bank_app
      - SECRET_KEY=supersecretkey
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    restart: always
    volumes:
      - mongo_data:/data/db

  studentportfolio:
    build: ./studentportfolio
  transactions:
    build: ./transactions
    environment:
      - MONGO_URI=mongodb://mongo:27017
      - PORT=3000  
    ports:
      - "3000:3000"  
    depends_on:
      - mongo
volumes:
  mongo_data: